       body{
    background-color: #444444; /* Цвет фона веб-страницы */
   } 
       .Nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   width: 1920px;
    height: 73px;
    background: rgba(65, 60, 60, 0.4);
   position: absolute; /* Абсолютное позиционирование */
    bottom: 880px; /* Положение от нижнего края */
    right: 5px; /* Положение от правого края */
   }
      .discord{
   border: 1px solid #7e7e7e;
   border-radius: 5px;
   width: 35px;
   height: 35px;
   background: #3f3c3d;
   position: absolute; /* Абсолютное позиционирование */
    bottom: 900px; /* Положение от нижнего края */
    right: 320px; /* Положение от правого края */
      }
      .discord-img {
         width: 189;
         height: 100;
         position: absolute; /* Абсолютное позиционирование */
    bottom: 909px; /* Положение от нижнего края */
    right: 327px; /* Положение от правого края */
      }
   @font-face {
      font-family: "Minecraft";
      src: url(minecraft.ttf);
   }
   .Minecraft{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 26px;
   line-height: 100%;
   color: #847d80;
         position: absolute; /* Абсолютное позиционирование */
    bottom: 909px; /* Положение от нижнего края */
    right: 1261px; /* Положение от правого края */
   }
   .text1{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   color: #fff;
         position: absolute; /* Абсолютное позиционирование */
    bottom: 894px; /* Положение от нижнего края */
    right: 1414px; /* Положение от правого края */
   }
   .Lothric{
   stroke-width: 2px;
   stroke: #fff;
   position: absolute; /* Абсолютное позиционирование */
    bottom: 894px; /* Положение от нижнего края */
    right: 1563px; /* Положение от правого края */
   }
   .text2{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 64px;
   line-height: 100%;
   color: #fff;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 719px; /* Положение от нижнего края */
    left: 270px;
   }
   .text3{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #fff;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 607px; /* Положение от нижнего края */
    left: 270px;
   }
   .Lothric2{
      stroke-width: 12px;
stroke: #fff;
     position: absolute; /* Абсолютное позиционирование */
    bottom: 446px; /* Положение от нижнего края */
    left: 1090px;  
   }
   .block1{
   border: 1px solid rgba(12, 11, 11, 0.5);
   border-radius: 10px;
   width: 500px;
   height: 225px;
   position: absolute; /* Абсолютное позиционирование */
    bottom: 446px; /* Положение от нижнего края */
    left: 1035px;  
   }
   .block2{
   border-radius: 9999px;
   width: 322px;
   height: 322px;
   filter: blur(104px);
   background: #dbd3d6;
   position: absolute; /* Абсолютное позиционирование */
    bottom: 350px; /* Положение от нижнего края */
    left: 1123px;  
   }
   .block3{
   border-radius: 35px;
   width: 1380px;
   height: 430px;
   background: #101010;
   position: absolute; /* Абсолютное позиционирование */
   bottom: -77px; /* Положение от нижнего края */
   left: 270px;  
   }
   .text4{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 150%;
   text-align: center;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 252px; /* Положение от нижнего края */
   left: 486px;  
   }
   .text5{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   position: absolute; /* Абсолютное позиционирование */
   bottom: 236px; /* Положение от нижнего края */
   left: 827px;  
   }
   .block5{
   border: 1px solid #4c4c4c;
   border-radius: 25px;
   width: 400px;
   height: 200px;
   position: absolute; /* Абсолютное позиционирование */
   bottom: -34px; /* Положение от нижнего края */
   left: 320px;  
   }
   .text6{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 28px;
   line-height: 100%;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 140px;
   left: 34px; 
   }
   .text7{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 144%;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 75px;
   left: 34px;
   }
   .block6{
   border-radius: 10px;
   width: 223px;
   height: 28px;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 22px;
   left: 34px;
   background: #575355;
   }
   .text8{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 24px;
   left: 49px;
   }
   .block7{
   border-radius: 10px;
   width: 35px;
   height: 35px;
   background: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 141px;
   left: 342px;
   }
   .URL{
   position: absolute; /* Абсолютное позиционирование */
   bottom: 150px;
   left: 352px;
   }
   .block8{
   border: 1px solid #4c4c4c;
   border-radius: 25px;
   width: 400px;
   height: 200px;
   position: absolute; /* Абсолютное позиционирование */
   bottom: -34px;
   left: 768px;
   }
   .text9{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 28px;
   line-height: 100%;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 140px;
   left: 31px;
   }
   .text10{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 144%;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 73px;
   left: 31px;
   }
   .block9{
   border-radius: 10px;
   width: 213px;
   height: 28px;
   background: #575355;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 24px;
   left: 31px;
   }
   .text11{
   font-family: "Minecraft", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   color: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 25px;
   left: 51px;
   }
   .block10{
   border-radius: 10px;
   width: 35px;
   height: 35px;
   background: #fff;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 141px;
   left: 340px;
   }
   .URL2{

   position: absolute; /* Абсолютное позиционирование */
   bottom: 150px;
   left: 350px;
   }